/* NavBarModule.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
.header {
 background-color: #120161;
  color: white;
  padding: 1rem 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 
}
.navbar{
    display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
font-size: 1.5rem;
  font-weight: bold;
  margin-left: 2.4rem;

}

.links_list {
 display: flex;
  gap: 1.5rem;
list-style: none;
margin-right: 3rem;
  
}
.links_list .link {
  color: white;
  transition: color 0.3s;
  text-decoration: none;
}

.links_list .link:hover {
  color: #ddd;
}





/* Layout Principal */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Cabeçalho */
.header {
 
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  color: white;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ddd;
}